# Data validation and pre-processing technique

In [1]:
#import library packages
import pandas as p
import numpy as n

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
#Load given dataset
data = p.read_csv('Corona_NLP_train.csv',encoding='latin1')

Before drop the given dataset:

In [4]:
data.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative

In [5]:
#shape
data.shape

(41157, 6)

After drop the given dataset:

In [6]:
df=data.dropna()
df.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
5,3804,48756,"ÃT: 36.319708,-82.363649",16-03-2020,As news of the regionÂs first confirmed COVID...,Positive
6,3805,48757,"35.926541,-78.753267",16-03-2020,Cashier at grocery store was sharing his insig...,Positive

In [7]:
df.shape

(32567, 6)

In [8]:
#show columns
df.columns

Index(['UserName', 'ScreenName', 'Location', 'TweetAt', 'OriginalTweet',
       'Sentiment'],
      dtype='object')

In [9]:
#To describe the dataframe
df.describe()

           UserName    ScreenName
count  32567.000000  32567.000000
mean   24418.499309  69370.499309
std    11899.886650  11899.886650
min     3799.000000  48751.000000
25%    14002.500000  58954.500000
50%    24576.000000  69528.000000
75%    34747.500000  79699.500000
max    44955.000000  89907.000000

In [10]:
#Checking datatype and information about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32567 entries, 0 to 41156
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   UserName       32567 non-null  int64
 1   ScreenName     32567 non-null  int64
 2   Location       32567 non-null  object
 3   TweetAt        32567 non-null  object
 4   OriginalTweet  32567 non-null  object
 5   Sentiment      32567 non-null  object
dtypes: int64(2), object(4)
memory usage: 1.7+ MB

In [11]:
df.Sentiment.unique()

array(['Neutral', 'Positive', 'Negative', 'Extremely Positive',
       'Extremely Negative'], dtype=object)

Checking duplicate values of dataframe:

In [12]:
#Checking for duplicate data
df.duplicated()

0        False
1        False
2        False
5        False
6        False
         ...
41147    False
41149    False
41150    False
41152    False
41156    False
Length: 32567, dtype: bool

In [13]:
#find sum of duplicate data
sum(df.duplicated())

0

In [14]:
#Checking sum of missing values
df.isnull().sum()

UserName         0
ScreenName       0
Location         0
TweetAt          0
OriginalTweet    0
Sentiment        0
dtype: int64

Spliting Train/Test:

In [15]:
#preprocessing, split test and dataset, split response variable
X = df.drop(labels='Sentiment', axis=1)
#Response variable
y = df.loc[:,'Sentiment']

In [16]:
#We'll use a test size of 30%. We also stratify the split on the response variable, which is very important to do because there are so few fraudulent transactions.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1, stratify=y)
print("Number of training dataset: ", len(X_train))
print("Number of test dataset: ", len(X_test))
print("Total number of dataset: ", len(X_train)+len(X_test))

Number of training dataset:  22796
Number of test dataset:  9771
Total number of dataset:  32567

In [26]:
y_test.shape

(9771,)

In [17]:
df.groupby('Sentiment').describe()

                   UserName                                                \
                      count          mean           std     min       25%
Sentiment
Extremely Negative   4249.0  22964.916686  11968.753390  3819.0  12502.00
Extremely Positive   5273.0  25031.953916  11829.939310  3810.0  15059.00
Negative             7763.0  23905.016360  11873.688714  3808.0  13493.50
Neutral              6172.0  25063.771387  11934.902441  3799.0  14660.25
Positive             9110.0  24741.778705  11832.755683  3800.0  14422.25

                                               ScreenName                \
                        50%       75%      max      count          mean
Sentiment
Extremely Negative  22239.0  33171.00  44932.0     4249.0  67916.916686
Extremely Positive  25198.0  35418.00  44941.0     5273.0  69983.953916
Negative            23894.0  34062.00  44955.0     7763.0  68857.016360
Neutral             25667.0  35554.75  44951.0     6172.0  70015.771387
Positive            25046.0  35069.50  44949.0     9110.0  69693.778705

                                                                        \
                             std      min       25%      50%       75%
Sentiment
Extremely Negative  11968.753390  48771.0  57454.00  67191.0  78123.00
Extremely Positive  11829.939310  48762.0  60011.00  70150.0  80370.00
Negative            11873.688714  48760.0  58445.50  68846.0  79014.00
Neutral             11934.902441  48751.0  59612.25  70619.0  80506.75
Positive            11832.755683  48752.0  59374.25  69998.0  80021.50


                        max
Sentiment
Extremely Negative  89884.0
Extremely Positive  89893.0
Negative            89907.0
Neutral             89903.0
Positive            89901.0

In [18]:
#for counting frequently occurence of spam and ham.
# from collections import Counter
# count1 = Counter(" ".join(df[df['fraudulent']==0]["text"]).split()).most_common(30)
# data1 = p.DataFrame.from_dict(count1)
# data1 = data1.rename(columns={0: "words of Truthful", 1 : "count"})
# count2 = Counter(" ".join(df[df['fraudulent']=='1']["text"]).split()).most_common(30)
# data2 = p.DataFrame.from_dict(count2)
# data2 = data2.rename(columns={0: "words of Opinion spam", 1 : "count_"})



from collections import Counter
count1 = Counter(" ".join(df[df['Sentiment']==0]["OriginalTweet"]).split()).most_common(30)
data1 = p.DataFrame.from_dict(count1)
data1 = data1.rename(columns={0: "Neutral", 1 : "count"})

count2 = Counter(" ".join(df[df['Sentiment']==1]["OriginalTweet"]).split()).most_common(30)
data2 = p.DataFrame.from_dict(count2)
data2 = data2.rename(columns={0: "Positive", 1 : "count_"})

count3 = Counter(" ".join(df[df['Sentiment']==2]["OriginalTweet"]).split()).most_common(30)
data3 = p.DataFrame.from_dict(count3)
data3 = data1.rename(columns={0: "'Negative'", 1 : "count"})

count4 = Counter(" ".join(df[df['Sentiment']==3]["OriginalTweet"]).split()).most_common(30)
data4= p.DataFrame.from_dict(count4)
data4= data1.rename(columns={0: "'Extremely Positive'", 1 : "count"})

count5 = Counter(" ".join(df[df['Sentiment']==4]["OriginalTweet"]).split()).most_common(30)
data5 = p.DataFrame.from_dict(count5)
data5 = data1.rename(columns={0: "'Extremely Negative'", 1 : "count"})

In [19]:
df['Sentiment'].value_counts()

Positive              9110
Negative              7763
Neutral               6172
Extremely Positive    5273
Extremely Negative    4249
Name: Sentiment, dtype: int64

In [20]:
df.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
5,3804,48756,"ÃT: 36.319708,-82.363649",16-03-2020,As news of the regionÂs first confirmed COVID...,Positive
6,3805,48757,"35.926541,-78.753267",16-03-2020,Cashier at grocery store was sharing his insig...,Positive

In [21]:
!pip install keras-metrics

Requirement already satisfied: keras-metrics in c:\users\yadav\anaconda3\lib\site-packages (1.1.0)
Requirement already satisfied: Keras>=2.1.5 in c:\users\yadav\anaconda3\lib\site-packages (from keras-metrics) (2.8.0)

WARNING: You are using pip version 21.3.1; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\yadav\anaconda3\python.exe -m pip install --upgrade pip' command.

In [22]:
pip install keras-metrics

Requirement already satisfied: keras-metrics in c:\users\yadav\anaconda3\lib\site-packages (1.1.0)
Requirement already satisfied: Keras>=2.1.5 in c:\users\yadav\anaconda3\lib\site-packages (from keras-metrics) (2.8.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.3.1; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\yadav\anaconda3\python.exe -m pip install --upgrade pip' command.